@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to BrzStore</h1>
    <p class="lead">Explore our products and enjoy your shopping experience.</p>
</div>